{% render 'partials/head.liquid' %}

<section id="genomineerde-detail">
  

    <div class="detail-header">
      <div class="detail-info">
        <h1>{{ nomination.title }}</h1>
        <p>{{ nomination.course }}</p>
        <p>{{ nomination.institution }}</p>
      </div>
      <img 
        src="https://fdnd-agency.directus.app/assets/{{ nomination.profile_picture }}" 
        alt="{{ nomination.title }}"
      >
    </div>

    {% if nomination.body %}
    <div class="detail-body">
      <details>
        <summary>Lees meer over {{ nomination.title }}</summary>
        <p>{{ nomination.body }}</p>
      </details>
    </div>
    {% endif %}

    <section id="reacties">
      <h2>Reacties</h2>
      {% if nomination.comments.size > 0 %}
        <ul class="reacties-lijst">
          {% for comment in nomination.comments %}
          <li class="reactie">
            <strong>{{ comment.name }}</strong>
            <p>{{ comment.comment }}</p>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Plaats hier jouw reactie!</p>
      {% endif %}
    </section>

    <section id="reactie-plaatsen">
        {% comment %} succes state {% endcomment %}
      {% if success %}
         <p class="success-melding"> Je reactie is geplaatst!</p>
      {% endif %}   


      {% if error %}
         <p class="error-melding">Er ging iets fout, probeer het opnieuw.</p>
      {% endif %}
      <h2>Laat een reactie achter</h2>
      <form action="/genomineerden/{{ nomination.slug }}" method="POST">
        <label for="name">Naam</label>
        <input type="text" id="name" name="name" required>

        <label for="comment">Reactie</label>
        <textarea id="comment" name="comment" rows="4" required></textarea>

        <button class="button-blue" type="submit">Verstuur reactie</button>
      </form>
    </section>

</section>

{% render 'partials/foot.liquid' %}